body {
  margin: 0;
  text-align: center;
  background-color: #fff4e1;
  background-image: url("./img/little-pluses.png");
}

.container {
  margin-bottom: 15px;
}

header {
  padding: 20px;
  padding-left: 50px;
  margin-bottom: 10px;
  border-bottom: 4px #000 solid;
  background-color: #01054e;
  background-image: url("./img/purty-wood.png");
  color: white;
}

header h2 {
  font-weight: 400;
}

table th{
  
}

.searchForm,
.loggingForm,
.accountForm
.addForm {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.loggingForm-div {
  width: 50%;
}
.loggingForm-icon-div {
  margin: 30px;
}

.accountForm .form-row {
  justify-content: space-evenly;
}

.searchForm select,
.searchForm input {
  margin: 2px;
}

.loggingForm input,
.loggingForm .alert {
  width: 80%;
}

.accountForm input {
  width: 100%;
}

.availability-check input {
  width: 90%;
  margin: 0;
}

.availability-check {
  margin-top: 10px;
}

.form-p {
  margin-bottom: 0;
}

.td-button-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
